body{
    background-color: aqua;
    height: 100vh; 
    width: 100vw;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

a{
    padding: 1rem;
}

img{
    margin: 2rem;
}
input{
    height: 1.5rem;
    width: 5rem;
    margin: 2px;
}

p{
    margin: 0;
    padding: 0;
}